rainmaker-pgr=https://raw.githubusercontent.com/egovernments/ukd-rainmaker-customization/DEV/configs/reports/configs/pgr-reports.yml
rainmaker-pt=https://raw.githubusercontent.com/egovernments/ukd-rainmaker-customization/DEV/configs/reports/configs/pt-reports.yml
rainmaker-tl=https://raw.githubusercontent.com/egovernments/ukd-rainmaker-customization/DEV/configs/reports/configs/tl-reports.yml
rainmaker-uc=https://raw.githubusercontent.com/egovernments/bihar-rainmaker-customization/DEV/configs/reports/configs/uc-reports.yml
